node_modules/
dist/
.DS_Store
*.local
.env
.venv/
__pycache__/
*.pyc
.duckdb
*.duckdb
data-pipeline/raw/*.rds
data-pipeline/processed/
*.egg-info/
.ipynb_checkpoints/
frontend/node_modules/
frontend/dist/
